# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
**/bin/*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
api/node_modules

**/.env.*

#IDE dependencies
.idea
.vscode

.trunk

# erc721BridgelessMinting contracts storage 
erc721_contracts.txt

# asdf versions file https://asdf-vm.com/
.tool-versions

# OS X specific files
.DS_Store

# local k8 config
deployment/environments/local/*

# DB-related files
*.log
*.vlog
*.sst
DISCARD
KEYREGISTRY
MANIFEST
